.footer-new {
  background-color: var(--bg-deep);
}

.max-w-300 {
  max-width: 300px;
}

.space-y-2 > li:not(:last-child) {
  margin-bottom: 0.5rem;
}

.hover-text-white:hover {
  color: #fff !important;
}

.footer-new hr {
  opacity: 0.1;
}

.input-group.glass-effect {
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.footer-new .form-control:focus {
  box-shadow: none;
  background: rgba(255, 255, 255, 0.05);
}
