.all {
    display: flex;
    height: 100vh;
}
.main-header {
    height: 64px;
    width: 100%;
    margin-left: -196px;
    background: #1e293b;
    border-bottom: 1px solid #334155;
    display: flex;
    align-items: center;
    padding: 0 24px;
    justify-content: space-between;
    z-index: 1000;

}
.table {
   margin-left: -190px;
   margin-right: 100px;
}