.comenzar {
    color: rgb(15, 238, 190);
    text-decoration: none;
}
.nav-links {
  display: flex;
  gap: 1.5rem;
    a {
        color: white;
        text-decoration: none;
        font-weight: 500;
        transition: color 0.2s;
        &:hover {
        color: #00d4ff;
        }
    }
}
.footer {
  background-color: #020617;
  padding: 20px 0;
  margin-top: 100px;
  border-top: 1px solid rgba(255,255,255,0.05);
  .logo-text {
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
    span {
      color: #00d4ff;
    }
  }
}
.btn-primary {
  background-color: white;
  border: none;
  color: black;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 6px;
  text-decoration: none;
}
.one {
    display: flex;
    justify-content: center;
}
.two {
    margin-bottom: 100px;
}