.div-principal {
    background-color: #0f172a;
    color: #f8fafc;
    font-family: 'Public Sans', sans-serif;
}
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.active-nav {
    background-color: #0d59f2;
    color: #ffffff !important;
}
